.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  min-height: 100vh;
  background-color: rgb(27, 27, 27); 
  color: rgb(239, 236, 236);
  font-family: var(--font-mono);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  min-height: -webkit-fill-available;
}

.headerContainer {
  z-index: 3;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: 90vw;
}

.title {
  font-size: 40px;
}

.line {
  border-bottom: 2px solid var(--kobe);
  width: 90vw;
  z-index: 1;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.resume {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  overflow: auto;
  max-height: 70vh;
  min-height: 45vh;
  z-index: 1;
}

.email {
  color: rgb(100,100,250);
}

.email:hover {
  color: rgb(150,150,250);
}

.downloadButton {
  background-color: rgb(80,80,80);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 1;
}

.downloadButton:hover {
  background-color: rgb(60,60,60);
  cursor: pointer;
}

.settingsButton {
  margin-top: 10px;
  z-index: 1;
}


@media (max-width: 1000px) {
  .resume {
    height: 70vh;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }

  .resume {
    padding-right: 15px;
    grid-gap: 60px;
  }

  .email {
    background-color: unset;
  }

  .email:hover {
    background-color: unset;
  }
}

@media (max-height: 800px) {

  .resume {
    /* padding-right: 15px; */
    grid-gap: 60px;
    max-height: 68vh;
    min-height: 45vh;
  }
}

@media (max-height: 700px) {

  .resume {
    /* padding-right: 15px; */
    grid-gap: 60px;
    max-height: 60vh;
    min-height: 45vh;
  }

  .settingsButton {
    margin-left: auto;
    margin-right: auto;
  }
}