.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  min-height: 100vh;
  background-color: rgb(27, 27, 27); 
  color: rgb(239, 236, 236);
  font-family: var(--font-mono);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: 90vw;
}

.title {
  font-size: 40px;
}

.line {
  border-bottom: 2px solid var(--kobe);
  width: 90vw;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.resume {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  overflow: auto;
  height: 80vh;
  z-index: 1;
}

.email {
  color: rgb(100,100,250);
}

.email:hover {
  color: rgb(150,150,250);
}

.downloadButton {
  background-color: rgb(80,80,80);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 1;
}

.downloadButton:hover {
  background-color: rgb(60,60,60);
}

@media (max-width: 1000px) {
  .resume {
    height: 70vh;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 35px;
  }

  .resume {
    padding-right: 15px;
  }

  .email {
    background-color: unset;
  }

  .email:hover {
    background-color: unset;
  }
}